<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @tyb_log.status %>
</p>

<p>
  <strong>Title:</strong>
  <%= @tyb_log.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tyb_log.content %>
</p>

<p>
  <strong>Data:</strong>
  <%= @tyb_log.data %>
</p>

<%= link_to 'Edit', edit_tyb_log_path(@tyb_log) %> |
<%= link_to 'Back', tyb_logs_path %>
